h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  margin-top: 0;
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-top: 8px solid #3f3f46;
  background-image: radial-gradient(#000 5%, transparent 0);
  background-size: 15px 15px;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding-left: 5rem;
  padding-right: 5rem;
}

body {
  background-color: #fafafa;
  font-family: Mija, -apple-system, Arial, BlinkMacSystemFont, roboto slab,
    droid serif, segoe ui, Ubuntu, Cantarell, Georgia, serif;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #3f3f46;
  letter-spacing: 0;
}

.title__sub {
  font-size: 1.8rem;
  font-weight: 400;
  color: #3f3f46;
  letter-spacing: 0;
  margin-bottom: 56px;
}

.title__link {
  color: #3f3f46;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0;
  margin-bottom: 0.8rem;
}

.title__section {
  color: #3f3f46;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0;
}

.title__experience {
  font-size: 1.6rem;
  font-weight: 600;
  color: #3f3f46;
  margin-bottom: 8px;
}

.title__experience--duration {
  font-size: 1.4rem;
  color: #52525b;
  margin-bottom: 8px;
}

.section__experience {
  margin-bottom: 40px;
}

.title__awards_organisation {
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.column__information {
  margin-bottom: 24px !important;
}

.container__section {
  padding-bottom: 1.6rem !important;
  padding-top: 1.6rem !important;
}

.container__first {
  padding-bottom: 1.6rem !important;
}

a {
  color: #3f3f46;
  text-decoration: none;
}

.link__contact {
  color: #3f3f46;
  transition: 0.2s ease-in-out;
}

.link__contact:hover {
  opacity: 0.6;
}

::-moz-selection {
  color: #fff;
  background: #3f3f46;
}

::selection {
  color: #fff;
  background: #3f3f46;
}

@media only screen and (max-width: 600px) {
  .column-33 {
    max-width: 100% !important;
  }
}

ul {
  list-style-position: outside;
  margin-left: 16px;
}

.skill-info {
  font-size: 16px;
  font-weight: 500;
  color: #606c76;
  border: 1px solid #ebebeb;
  padding: 4px 10px;
  border-radius: 0.375rem;
  text-align: center;
  background-color: #fafafa;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #3f3f46;
  letter-spacing: 0;
}

.title__sub {
  font-size: 1.8rem;
  font-weight: 300;
  color: #3f3f46;
  letter-spacing: 0;
  margin-bottom: 56px;
}

.container__first {
  padding-top: 7.5rem;
}

.container__section {
  padding-bottom: 1.6rem !important;
  padding-top: 1.6rem !important;
}

.column__information {
  margin-bottom: 24px !important;
}

.column__information.card {
  font-size: 14px;
  border: 1px solid #e5e7eb;
  margin: 0 auto;
  width: 30%;
  max-width: 30%;
  border-radius: 4px;
  padding: 16px;
}

.card svg {
  width: 16px;
  height: 16px;
  vertical-align: sub;
}

.link__contact {
  color: #3f3f46;
  transition: 0.2s ease-in-out;
}

.skill__section {
  flex-wrap: wrap;
}
.footer {
  padding: 8rem 0 2rem;
}

.row .column.column-15 {
  flex: 0 0 15%;
  max-width: 15%;
}

@media only screen and (max-width: 780px) {
  .row.skill__section {
    flex-direction: row;
  }
  .column-20 {
    padding: 0 0.5rem;
    max-width: 33% !important;
    flex: 0 0 33% !important;
  }
}