html,
body {
  background-color: #f5f5f5;
  margin: 0;
}

body,
* {
  font-style: normal;
  font-variant: normal;
  box-sizing: border-box;
  font-family: Muli;
}

::selection {
  background-color: #FFF;
  color: #222;
}

.container {
  max-width: 1055px;
  margin: auto;
  padding: 15px 20px;
  background-color: #FFF;
  box-shadow: 1px 0px 5px #dddddd78;
}

div#bio p {
  font-size: 25px;
  font-weight: 600;
}

.contact-info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resume-label {
  font-weight: 700;
  margin: 5px;
}

.resume-info {
  color: red;
}

.section-label {
  text-transform: uppercase;
  font-weight: 700;
  color: red;
}