h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  margin-top: 0;
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-top: 8px solid #793aff;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

body {
  font-family: Mija, -apple-system, Arial, BlinkMacSystemFont, roboto slab,
    droid serif, segoe ui, Ubuntu, Cantarell, Georgia, serif;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #000739;
  letter-spacing: 0;
}

.title__sub {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000739;
  letter-spacing: 0;
  margin-bottom: 56px;
}

.title__link {
  color: #793aff;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0;
  margin-bottom: 0.8rem;
}

.title__section {
  color: #793aff;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0;
}

.title__experience {
  font-size: 1.6rem;
  font-weight: 500;
  color: #000739;
  margin-bottom: 8px;
}

.title__experience--duration {
  font-size: 1.4rem;
  color: #676271;
  margin-bottom: 8px;
}

.section__experience {
  margin-bottom: 40px;
}

.title__awards_organisation {
  font-size: 1.6rem;
  margin-bottom: 8px;
}

.column__information {
  margin-bottom: 24px !important;
}

.container__section {
  padding-bottom: 1.6rem !important;
  padding-top: 1.6rem !important;
}

.container__first {
  padding-bottom: 1.6rem !important;
}

a {
  color: #863cff;
  text-decoration: none;
}

.link__contact {
  color: #000739;
  transition: 0.2s ease-in-out;
}

.link__contact:hover {
  opacity: 0.6;
}

::-moz-selection {
  color: #fff;
  background: #793aff;
}

::selection {
  color: #fff;
  background: #793aff;
}

@media only screen and (max-width: 600px) {
  .column-33 {
    max-width: 100% !important;
  }
}

ul {
  list-style-position: outside;
  margin-left: 16px;
}

.skill-info {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  border: 1px solid #793aff;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  background-color: #793aff;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #000739;
  letter-spacing: 0;
}

.title__sub {
  font-size: 1.8rem;
  font-weight: 300;
  color: #000739;
  letter-spacing: 0;
  margin-bottom: 56px;
}

.container__first {
  padding-top: 7.5rem;
}

.container__section {
  padding-bottom: 1.6rem !important;
  padding-top: 1.6rem !important;
}

.title__section {
  color: #793aff;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0;
}

.column__information {
  margin-bottom: 24px !important;
}

.title__link {
  color: #793aff;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0;
  margin-bottom: 0.8rem;
}

.link__contact {
  color: #000739;
  transition: 0.2s ease-in-out;
}

.skill__section {
  flex-wrap: wrap;
}
.footer {
  padding: 8rem 0 2rem;
}

@media only screen and (max-width: 780px) {
  .row.skill__section {
    flex-direction: row;
  }
  .column-20 {
    padding: 0 0.5rem;
    max-width: 33% !important;
    flex: 0 0 33% !important;
  }
}